<h1>Blog</h1>

<% @posts.each do |post| %>
  <h3><%= post.title %></h3>
  <p><%= post.content %></p>
  <div class='right'>
    <a href='/posts/<%= post.id %>'>edit</a>
    |
    <a href='/posts/<%= post.id %>' data-method='delete' data-confirm='are you sure?'>delete</a>
  </div>
  <hr>
  <div class='container'>
    <a href='/comments/<%= post.id %>'>Add Comment</a>
  </div>
  <hr>
<% end %>

<a href='/posts/new'>Create a new Post</a>
