<nav class='navbar navbar-default navbar-fixed-top'>
  <div class='row, container'>
    <div class='col-md-10'  id='top-bar'>
      <h1 id='main-header'>
        <%= image_tag 'chekov.jpg', :class => 'img-circle face' %>
        <%= image_tag 'wessels.png', :class => 'headline' %>
      </h1>
    </div>
    <div class='col-md-2'>
      <h2>
        <a href='/posts/new' id='create'>Create a new Post</a>
      </h2>
    </div>
  </div>
</nav>
<div id = 'posts'>
  <span class='red'>
    <%= flash[:notice] %>
    <%= flash[:alert] %>
  </span>
  <% @posts.each do |post| %>
    <div class='container'>
      <div class='row'>
        <div class='col-md-1'></div>
        <div class='col-md-10'>
          <p>
            <h2 class='post-title'><%= post.title %></h2>
            <h4><%= post.format_date %></h4>
          </p>
          <p class='lead'><%= post.content %></p>
        </div>
        <div class='col-md-1'></div>
      </div>
    </div>
    <div class='right'>
      <a href='/posts/<%= post.id %>'>edit</a>
      |
      <a href='/posts/<%= post.id %>' data-method='delete' data-confirm='are you sure?' rel='nofollow'>delete</a>
    </div>
    <hr>
    <div class='container'><p>Comments:</p>
      <% post.comments.recent.each do |comment| %>
        <div class='row'>
          <div class='col-md-3 comment-section'>
            <%= image_tag 'c3po.jpeg', :class => 'commenter'%>
            <p>Posted By:</p>
            <h4><%= comment.commenter %></h4>
            <p><%= comment.created_at %></p>
          </div>
          <div class='col-md-9'>
            <%= comment.body %>
            <div class='right'>
              <a href='/comments/<%= comment.id %>' data-method='delete' data-confirm='are you sure?' rel='nofollow'>delete</a>
            </div>
          </div>
        </div>
        </p>
      <% end %>

      <form method='post' action='/comments/<%= post.id %>' autocomplete='off'>
        <input placeholder='Name' id='name' name='comment[commenter]' />
        <input placeholder='Comment' id='comment' name='comment[body]' />
        <button class="btn btn-primary">ADD</button>
      </form>
    </div>
    <hr>
  <% end %>
</div>
